<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Financial data visualization</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.min.js"></script>
  <script src="http://techanjs.org/techan.min.js"></script>
  <style>
		body {
				font: 10px sans-serif;
		}

		text {
				fill: #000;
		}

    button {
        position: absolute;
        right: 20px;
        top: 440px;
        display: none;
    }

    path.candle {
        stroke: #000000;
    }

    path.candle.body {
        stroke-width: 0;
    }

    path.candle.up {
        fill: #00AA00;
        stroke: #00AA00;
    }

    path.candle.down {
        fill: #FF0000;
        stroke: #FF0000;
    }

    path.volume {
        fill: #AAAAAA;
        opacity: 0.5;
    }

    path.volume.up {
        fill: #00AA00;
    }

    path.volume.up:hover {
        fill: #0000CC;
        opacity: 0.8;
    }

    path.volume.down {
        fill: #FF0000;
    }
    
    path.volume.down:hover {
        fill: #FF9900;
        opacity: 0.8;
    }
    
  </style>
</head>

<body>
  <script>
    function makeResponsiveChart() {
      var margin = {top: 20, right: 20, bottom: 30, left: 50},
          width = 960 - margin.left - margin.right,
          height = 500 - margin.top - margin.bottom;

      var parseDate = d3.timeParse("%m/%d/%Y");

      /* --------------------------------- */
      /* Candle stick plot                 */
      /* --------------------------------- */

      var x = techan.scale.financetime()
              .range([0, width]);

      var y = d3.scaleLinear()
              .range([(height/2) -30, 0]);

      var candlestick = techan.plot.candlestick()
              .xScale(x)
              .yScale(y);

      var xAxis = d3.axisBottom()
              .scale(x);

      var yAxis = d3.axisLeft()
              .scale(y);

      /* --------------------------------- */
      /* Volume plot                       */
      /* --------------------------------- */

      var x1 = techan.scale.financetime()
              .range([0, width]);

      var y1 = d3.scaleLinear()
              .range([height, (height/2) + 30]);

      var volume = techan.plot.volume()
              .accessor(techan.accessor.ohlc())   // For volume bar highlighting
              .xScale(x1)
              .yScale(y1);

      var xAxis1 = d3.axisBottom(x1);

      var yAxis1 = d3.axisLeft(y1)
              .tickFormat(d3.format(",.3s"));

      /* --------------------------------- */
      /* SVG plot                          */
      /* --------------------------------- */

      var svg = d3.select("body").append("svg")
              .attr("width", width + margin.left + margin.right)
              .attr("height", height + margin.top + margin.bottom)
              .append("g")
              .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

      d3.json('/line').then(function(data) {
          var accessor1 = candlestick.accessor();
          var accessor2 = volume.accessor();

          data1 = data.map(function(d) {
              return {
                  date: parseDate(d.Date),
                  open: +d.Open,
                  high: +d.High,
                  low: +d.Low,
                  close: +d.Close,
                  volume: +d.Volume
              };
          }).sort(function(a, b) { return d3.ascending(accessor1.d(a), accessor1.d(b)); });

          data1 = data.map(function(d) {
              return {
                  date: parseDate(d.Date),
                  open: +d.Open,
                  high: +d.High,
                  low: +d.Low,
                  close: +d.Close,
                  volume: +d.Volume
              };
          }).sort(function(a, b) { return d3.ascending(accessor1.d(a), accessor1.d(b)); });

          data2 = data.map(function(d) {
              return {
                  date: parseDate(d.Date),
                  volume: +d.Volume,
                  open: +d.Open,
                  high: +d.High,
                  low: +d.Low,
                  close: +d.Close,
              };
          }).sort(function(a, b) { return d3.ascending(accessor2.d(a), accessor2.d(b)); });

          svg.append("g")
                  .attr("class", "candlestick");

          svg.append("g")
                  .attr("class", "x axis")
                  .attr("transform", "translate(0," + ((height/2) - 30) + ")");

          svg.append("g")
                  .attr("class", "y axis")
                  .append("text")
                  .attr("transform", "rotate(-90)")
                  .attr("y", 6)
                  .attr("dy", ".71em")
                  .style("text-anchor", "end")
                  .text("Price ($)");

          svg.append("g")
                  .attr("class", "volume");

          svg.append("g")
                  .attr("class", "x axis1")
                  .attr("transform", "translate(0," + height + ")");

          svg.append("g")
                  .attr("class", "y axis1")
                  .append("text")
                  .attr("transform", "rotate(-90)")
                  .attr("x", -1 * (height/2))
                  .attr("y", 6)
                  .attr("dy", ".71em")
                  .style("text-anchor", "end")
                  .text("Volume");

          draw_cs(x, y, data1.slice(0, 20), candlestick, svg, xAxis, yAxis);
          draw_volume(x1, y1, data2.slice(0, 20), volume, svg, xAxis1, yAxis1);
      });
    }

      function draw_cs(xval, yval, data, ar, svg, xAxis, yAxis) {
          xval.domain(data.map(ar.accessor().d));
          yval.domain(techan.scale.plot.ohlc(data, ar.accessor()).domain());

          svg.selectAll("g.candlestick").datum(data).call(ar);
          svg.selectAll("g.x.axis").call(xAxis);
          svg.selectAll("g.y.axis").call(yAxis);
      }

      function draw_volume(xval, yval, data, ar, svg, xAxis, yAxis) {
          xval.domain(data.map(ar.accessor().d));
          yval.domain(techan.scale.plot.volume(data, ar.accessor().v).domain());

          svg.selectAll("g.volume").datum(data).call(ar);
          svg.selectAll("g.x.axis1").call(xAxis);
          svg.selectAll("g.y.axis1").call(yAxis);
      }
    makeResponsiveChart();

	</script>
</body>

</html>
