body {
font: 10px sans-serif;
}

h2
{
  font: 4vw "Georgia", serif;
  margin-top: 0px;
  margin-bottom: 0px;
  text-align: center;
  letter-spacing: 1px;
  font-weight: bold;
  font-style: normal;
  word-spacing: 10px;
}

p
{
  font: 2vw sans-serif;
  margin-top: 0px;
  text-align: center;
  text-decoration: underline;
}

text {
fill: #000;
}

path.candle {
stroke: #000000;
}

path.candle.body {
stroke-width: 0;
}

path.candle.up {
fill: #00AA00;
stroke: #00AA00;
}

path.candle.down {
fill: #FF0000;
stroke: #FF0000;
}

path.volume {
fill: #AAAAAA;
opacity: 0.3;
}

path.volume.up {
fill: #00AA00;
}

path.volume.up:hover {
fill: #00AA00;
opacity: 0.9;
}

path.volume.down {
fill: #FF0000;
}

path.volume.down:hover {
fill: #FF0000;
opacity: 0.9;
}

.stochastic path {
fill: none;
stroke-width: 1;
}

.stochastic.up {
stroke: #00AA00;
}

.stochastic.down {
stroke: #FF0000;
}

.stochastic path.overbought, .stochastic path.oversold {
stroke: #FF9999;
stroke-dasharray: 5, 5;
}

